@media (max-width: 960px) {
  header h1 {
    font-size: 48px;
  }
}

h1 {
  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px #000000;
  font-size: 96px;
}

h2 {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: #8c7864;
}

h3 {
  font-family: "Poppins";
  font-weight: 200;
  letter-spacing: 10px;
  color: #8c7864;
}

header {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header a {
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  background-color: white;
  color: #8c7864;
  padding: 16px 32px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
  transition: all 150ms ease-in;
}

header a:hover {
  background-color: #8c7864;
  color: white;
}
