@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px #000000;
  font-size: 96px;
}

h2 {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: #8c7864;
}

h3 {
  font-family: "Poppins";
  font-weight: 200;
  letter-spacing: 10px;
  color: #8c7864;
}

header {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header a {
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  background-color: white;
  color: #8c7864;
  padding: 16px 32px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
  transition: all 150ms ease-in;
}

header a:hover {
  background-color: #8c7864;
  color: white;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/desk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

footer h3 {
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-wth-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.info-box {
  background-color: rgba(1, 1, 1, 0.3);
  padding: 10px;
}
